head
  title ye cover generator
  meta(charset='UTF-8')
  meta(name='description', content='Create your own YE album cover')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  meta(name='robots', content='index, follow')
  // Open Graph Tags 
  meta(property='og:title', content='ye cover generator')
  meta(property='og:type', content='article')
  meta(property='og:url', content='http://yegenerator.com/')
  meta(property='og:image', content='http://yegenerator.com/img/kanye-west-ye-album-cover-1527857034-compressed.jpg')
  meta(property='og:description', content='Create your own YE album cover')
  meta(property='og:site_name', content='ye cover generator')

  // Twitter Card Tags : Images must be at least 120x120px
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='ye cover generator')
  meta(name='twitter:title', content='ye cover generator')
  meta(name='twitter:description', content='Create your own YE album cover')
  meta(name='twitter:image', content='http://yegenerator.com/img/kanye-west-ye-album-cover-1527857034-compressed.jpg')
  // Styles
  link(rel='stylesheet', href='css/style.css')