.wrapper
  #ye-gen
    #canvas-container
    .container#album-cover
      img(src="img/blnak1.jpg")
      .area.dummy
      textarea.area(name="message" autofocus="true" placeholder="write whatever you feel like")
    .save-img
      p Save Image  
    a.powered(href="http://tig.ht/" target="_blank") powered by tig.ht