#ye-gen
  h1 YE COVER GENERATOR
  .container#album-cover
    img(src="img/blnak.jpg")
    .area.dummy
    textarea.area(name="message" autofocus="true" placeholder="write whatever you feel like")
  .save-img
    p Save Image
  
  a.powered(href="http://tig.ht/" target="_blank") powered by tig.ht