.wrapper{
  display: flex;
  align-items: center;
  min-height: 100vh;
}
#ye-gen{
  width: 100%;
  $green: #29F74E;
  p,textarea,textarea::placeholder,a{
    font-family: 'JakeHandwriting';
  }
  p{
    margin: 0;
    color: $green;
  }
  #canvas-container{
    // width: 100%;
    // height: 600px;
  }
  .container{
    position: relative;
    max-width: 50%;
    margin: 0 auto;
    overflow: hidden;
    @media all and (max-width: $screen-medium){
      width: 90%;
      max-width: none;
    }
    img{
      width: 100%;
      display: block;
    }
    .area{
      resize: none;
      outline: none;
      border: 0;
      display: block;
      width: 20%;
      padding: 0;
      position: absolute;
      top: 0;
      font-size: 30px;
      text-align: center;
      color: $green;
      @media all and (max-width: $screen-medium){
        font-size: 16px;
        width: 25%;
      }
    }
    textarea{
      left: 50%;
      height: 100%;
      background: transparent;
      transform: translateX(-50%);
      &::placeholder{
        color: $green;
      }
    }
    .dummy{
      left: 100%;
      visibility: hidden;
    }
    
  }
  .save-img{
    width: 100px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    border: 2px solid #636363;
    border-radius: 5px;
    cursor: pointer;
    p{
      text-shadow: 1px black;
    }
    &:hover{
      background: $green;
      p{
        color: black;
      }
    }
  }
  .powered{
    color: $black;
    position: fixed;
    bottom: 0;
    right: 0;
    text-decoration: none;
    padding: 5px;
    &:hover{
      text-decoration: underline;
    }
  }
}