.wrapper{
  display: flex;
  align-items: center;
  min-height: 100vh;
  @media all and (max-width: $screen-medium){
    min-height: 80vh;
  }
}
#ye-gen{
  width: 100%;
  $green: #29F74E;
  p,textarea,textarea::placeholder,a{
    font-family: 'JakeHandwriting';
  }
  p{
    margin: 0;
    color: $green;
  }
  #canvas-container{
    // width: 100%;
    // height: 600px;
  }
  .container{
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
    @media all and (max-width: $screen-large){
      width: 500px;
      max-width: none;
    }
    @media all and (max-width: $screen-medium){
      width: 308px;
      max-width: none;
    }
    img{
      width: 100%;
      display: block;
    }
    .area{
      resize: none;
      outline: none;
      border: 0;
      display: block;
      width: 26%;
      padding: 0;
      position: absolute;
      top: 0;
      font-size: 24px;
      text-align: center;
      color: $green;
      letter-spacing: 1px;
      line-height: 1.3;
      @media all and (max-width: $screen-large){
        font-size: 19px;
      }
      @media all and (max-width: $screen-medium){
        font-size: 11px;
      }
      
    }
    textarea{
      left: 50%;
      height: 100%;
      background: transparent;
      transform: translateX(-50%);
      &::placeholder{
        color: $green;
        font-size: 24px;
        @media all and (max-width: $screen-large){
          font-size: 19px;
        }
        @media all and (max-width: $screen-medium){
          font-size: 11px;
        }
      }
    }
    .dummy{
      left: 100%;
      visibility: hidden;
    }
    
  }
  .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    .save-img{
      width: 100px;
      margin: 10px;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      background: #395B85;
      p{
        text-shadow: 1px black;
      }
      &:hover{
        background: darken(#395B85, 10%);
      }
    }
    form{
      .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
      label {
        width: 100px;
        margin: 10px;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        background: #395B85;
        text-shadow: 1px black;
        color: $green;
        font-family: 'JakeHandwriting';
        &:hover{
          background: darken(#395B85, 10%);
        }
      }
    }
  }
    
  .powered{
    color: $black;
    position: fixed;
    bottom: 0;
    right: 0;
    text-decoration: none;
    padding: 5px;
    display: none;
    &:hover{
      text-decoration: underline;
    }
  }
  .streaming{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 15px;
    margin: 0 auto;
    width: 490px;
    @media all and (max-width: $screen-medium){
      width: 308px;
    }
    img{
      width: 125px;
      padding: 10px 0;
      @media all and (max-width: $screen-medium){
        width: 87px;
      }
    }
  }
}